*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}


body{
  font-family: 'Candara';
  background-color: #f1e9e9;
}

/*LOGO*/
.logo {
  margin-top: 50px;
  text-align: center;
}
.logo img {
width: 300px!important;
max-width: 300px;
}

/*ASIDE*/
.social-media {
  position: fixed;
  left: 0;
  top: 300px;
  z-index: 2000;
}
.social-media ul{
  list-style: none;
}
.social-media li {
  width: 46px;
  height: 56px;
  list-style: none;
}
#fb{
  background-color: #3b5998;
}
#tw{
  background-color: #00abf0;
}
#ig{
  background-color: #505050;
}
.social-media ul li a {
  display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 15px;
  color:white;
}

/*SEARCHER*/
.searcher{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.searcher input{
  font-size: 14px;
  position: relative;
  padding: 10px;
  padding-right: 35px;
  width: 60%;
  height: 60px;
  top: 40px;
  background-color: rgba(255,255,255, 0.8);
  color: #000;
  left: 20%;
  border-radius: 10px;
  border: solid 5px #7f7f7f;
}

/*COUNTRYS*/
.countrys{
  width: 100%;
  margin-top: 10vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.countrys article{
  font-size: 15px;
  text-align: justify;
  width:30%;
  display: flex;
  flex-wrap: wrap;
}

.country article div{
  width: 50%;
}
.country article div img{
  width: 50px!important;
  height:50px;
}
